<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Novo Automation Suite">
<listeners>
<listener class-name="utils.TestNGListeners"></listener>
</listeners>
  <test thread-count="5" name="All Functional Tests">
    <classes>   
      <class name="smoke.LoginWithdataproviderPOM"/>
       <class name="regression.SignUPWithPOM"/>
      <class name="regression.StepperPOM"/>
      <class name="regression.GAdmin_HomewithPOM"/>
    </classes>
  </test> <!-- All Functional Tests -->
</suite> <!-- Novo Automation Suite -->
